body {
    background-color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}
div.header {
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
div.header a {
    float: left;
    text-align: center;
    padding: 14px 16px;
}
div.footer {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: #595859;
    text-align: center;
}
p.idk {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}
p.idkbiggeriguess {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}
p.contacts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.contacts a {
    color: #aaa9a9
}
.contacts a:hover {
    color: #654b9e
}